.toolbar {
  background-color: #c62828; /* Vermelho escuro */
  color: black; /* Texto preto */
  font-family: 'DIN', sans-serif; /* Alterado para a fonte DIN */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toolbar-title {
  font-size: 22px;
  font-weight: 600;
  margin-left: 16px;
  letter-spacing: 0.5px;
}

.spacer {
  flex: 1 1 auto;
}

button[mat-button] {
  font-family: 'DIN', sans-serif; /* Alterado para a fonte DIN */
  font-size: 14px;
  font-weight: 500;
  color: black; /* Texto preto */
}

button[mat-button]:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Fundo preto translúcido ao passar o mouse */
}

mat-icon {
  margin-right: 8px;
  color: black; /* Ícones pretos */
}